/** Fótur **/

footer {
  display: grid;
  gap: var(--spacing);
  justify-content: space-evenly;
  padding-top: var(--spacing);
  border-top: 4px solid var(--color-border-with-background);
  width: 100%;
  background-color: var(--color-background-secondary);
  text-align: center;
}

footer>section {
  max-width: var(--max-width-footer-section);
}

footer ul {
  list-style: none;
}

footer h2 {
  margin-bottom: var(--spacing);
}

@media (width >= 600px) {
  footer {
    display: flex;
  }
}
